.cardbackground{
  padding:2vh;
  background-color: #0000ff;
}

button{
  background-color: #0000ff;
}

iframe{
  width:70vh;
  height:70vh;
  overflow: hidden;
  float:left;
  border: none;
}
