@font-face {
  font-family: Raleway;
  src: url(/data/fonts/Raleway.ttf);
}

body {
  background-color: #262626;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 400;
  color: white;
  padding:0;
  margin:0;
}

header{
  display: inline-flex;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  height: 8vh;
  width:100%;
  border-bottom: 2px solid white;
  background-color: inherit;
}

#push{
  margin:4vh;
}

h1 {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 2em;
  background: transparent;
  font-weight: 200;
  color: white;
  border:none;
  transition: font-weight 1s;
}

h2{
  color: black;
  font-weight: bolder;
}

h3{
  font-style: italic;
  font-weight: 500;
}

h4{
  font-size: 1.2em;
}

figcaption{
  font-size:0.8em;

}

.content {
  color:black;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}



.maincard {
  background-color: white;
  padding:2vh;
  display:inline-block;
}

.maincard img{
  width:70vh;
  height:70vh;
}




.cardimg{
  float:left;
  padding-right: 2vh;
}

.cardtxt{
  float:right;
  text-align: left;
  max-width:32vh;
  height:70vh;
  padding-left: 1vh;
  overflow-y:scroll;
}

button {
  height: 18vw;
  width: 18vw;
  min-width: 200px;
  min-height: 200px;
  font-family: "Raleway", "Arial", sans-serif;
  padding: 1vh;
  margin:2vh;
  transition: width 0.5s, height 0.5s;
}

button:hover {
  height: 22vw;
  width: 22vw;
  cursor: pointer;
}

.cards {
  display: flex;
  align-items: stretch;
  justify-content:space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards img {
  width:95%;
  height:auto;
}

.cards::after {
  margin-bottom: 4vh;
}

.others{
  background-color: #ededed;
}

a:hover{
  color: #999999;
  text-decoration: underline;
  font-style: italic;
}

a:visited{
  text-decoration: none;
}

footer{
  background-color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:10vh;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
